*{
    margin: 0;
}

@font-face {
    font-family: "Barlow"; //texte
    src: url(./asset/font/Barlow-Regular.ttf);
}
@font-face {
    font-family: "Fraunces"; //titre
    src: url(./asset/font/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

// @import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@100&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');


body{
    background: #F2F2F2;
    font-size: 18px;
    color: #24303E;
    header{
        width: auto;
        height: 140vw;
        background-image: url(./asset/mobile/image-header.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .le_haut{ 
            display: flex;  
            justify-content: space-between;             
            .logo{
                width: 123px;
                height: 28px;
                padding: 10px;
            }
            .menu_titre{
                padding: 10px;
            }
        }
        .container_header{
            margin: 10px 100px 0px 100px;
            text-align: center;
            h1{
                font-family: Fraunces;
                text-transform: uppercase;
                color: white;
                font-size: 30px;
                padding-bottom: 100px;
                padding-top: 50px;
            }
        }
    }
    main{
        letter-spacing: -0.128571px;
        text-align: center;
        .texte_transform{
            .oeuf_image{
                img{
                max-width: 100%;
                padding-bottom: 40px;
                }
            }
            .oeuf_text{
                padding: 0px 24px 64px 24px;
                h2{
                    font-family: Fraunces;
                    font-size: 35px;font-style: normal;
                    padding-bottom: 30px;
                }
                p{
                    font-family: Barlow;
                    font-weight: 600;
                    line-height: 30px;
                    padding-bottom: 30px;
                    color: rgba(128, 131, 151, 1);
                }
                a{
                    font-family: Fraunces;
                    color: #24303E;
                    text-decoration: none;
                }
            }
        }
        .stand_out{
            .tasse_rouge_image{
                img{
                max-width: 100%;
                padding-bottom: 40px;
                }
            }
            .tasse_rouge_text{
                padding: 0px 24px 64px 24px;
                h2{
                    font-family: Fraunces;
                    font-size: 35px;
                    padding-bottom: 30px;
                }
                p{
                    font-family: Barlow;
                    font-weight: 600;
                    line-height: 30px;
                    padding-bottom: 30px;
                    color: rgba(128, 131, 151, 1);
                }
                a{
                    font-family: Fraunces;
                    color: #24303E;
                    
                }
            }
        }
        .cherry{
            height: 600px;
            .cherry_image{
                img{
                    max-width: 100%;
                }
            }
            .cherry_text{
                position: relative;
                top: -200px;
                text-align: center;
                h2{
                    text-transform: capitalize;
                    font-family: Fraunces;
                    font-size: 35px;
                    color: #24554A;;
                }
                p{
                    font-family: Barlow;
                    padding: 30px 24px 59px 24px;
                    color: rgba(36, 85, 74, 1);
                    font-weight: 600;
                    line-height: 27px;
                    font-size: 16px;
                }
            }
        }
        .orange{
            height: 600px;
            .orange_image{
                img{
                    max-width: 100%;
                }
            }
            .orange_text{
                position: relative;
                top: -200px;
                h2{
                    text-transform: capitalize;
                    font-family: Fraunces;
                    font-size: 35px;
                    color: #052C3B;
                    mix-blend-mode: normal;
                    opacity: 0.75;
                }
                p{
                    font-family: Barlow;
                    padding: 30px 24px 59px 24px;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 27px;
                    color: rgba(25, 83, 108, 1);
                }
            }
        }
        .client{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat 4(1fr);
            grid-row-gap: 24px;
            letter-spacing: -0.12857143580913544px;
            font-family: Barlow;
            img{
                border-radius: 100%;
                width: 72px;
                height: 72px;
            }
            h3{
                grid-row: 1;
                text-transform: uppercase;
                letter-spacing: 5px;
                font-family: Fraunces;
                color: hsl(210, 4%, 67%);
                font-size: 15px;
                padding-bottom: 64px;
                padding-top: 64px;
            }
            .emily{
                grid-column: 1;
                grid-row: 2;
                .dia_emily{
                    font-weight: 600;
                    line-height: 32px;
                    color: #5B636D;
                    padding:32px 24px 32px 24px;
                }
                .nom_e{
                    font-family: Fraunces;
                    font-weight: 900;
                    line-height: 22px;
                }
                .poste_e{
                    font-size: 14px;
                    color: rgba(167, 170, 173, 1);
                    padding-top: 9px;
                    padding-bottom: 64px;
                }
            }
            .thomas{
                grid-column: 1;
                grid-row: 3;
                .dia_thomas{
                    font-weight: 600;
                    line-height: 32px;
                    color: #5B636D;
                    padding:32px 24px 32px 24px;
                }
                .nom_t{
                    font-family: Fraunces;
                    font-weight: 900;
                    line-height: 22px;                }
                .poste_t{
                    font-size: 14px;
                    color: #A7AAAD;
                    padding-top: 9px;
                    padding-bottom: 64px;
                }
            }
            .jennie{
                grid-column: 1;
                grid-row: 4;
                .dia_jennie{
                    font-weight: 600;
                    line-height: 32px;
                    color: #5B636D;
                    padding:32px 24px 32px 24px;
                }
                .nom_j{
                    font-family: Fraunces;
                    font-weight: 900;
                    line-height: 22px;                }
                .poste_j{
                    font-size: 14px;
                    color: #A7AAAD;
                    padding-top: 9px;
                    padding-bottom: 64px;
                }
            }
        }
        .gallery{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            img{
                max-width: 100%;
            }
            .image1{
                grid-column: 1;
                grid-row: 1;
            }
            .image2{
                grid-column: 1;
                grid-row: 2;
            }
            .image3{
                grid-column: 2;
                grid-row: 1;
            }
            .image4{
                grid-column: 2;
                grid-row: 2;
            }
        }
    }
    footer{
        letter-spacing: -0.128571px;
        background: #90D4C6;
        display: flex;
        flex-direction: column;
        align-items: center;
        .titre_bot{
            padding-top: 20px;
            padding-bottom: 40px;
            width: 170px;
            filter: invert(26%) sepia(9%) saturate(2406%) hue-rotate(116deg) brightness(50%) contrast(90%);
        }
        .liens{
            a{
                text-decoration: none;
                color: rgba(69, 141, 126, 1);
                font-family: Barlow;
            }
            word-spacing: 57px;
            padding-bottom: 40px;
        }
        .social{
            word-spacing: 28px;
            padding-bottom: 40px;
        }
    }
}