*{
    margin: 0;
}

@font-face {
    font-family: "Barlow"; //texte
    src: url(./asset/font/Barlow-Regular.ttf);
}
@font-face {
    font-family: "Fraunces"; //titre
    src: url(./asset/font/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

body{
    background: #F2F2F2;
    font-size: 18px;
    color: #24303E;
    header{
        width: auto;
        height: 140vw;
        background-image: url(./asset/mobile/image-header.jpg);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        .le_haut{ 
            display: flex;  
            justify-content: space-between;             
            .logo{
                width: 123px;
                height: 28px;
                padding: 10px;
            }
            .menu_titre{
                padding: 10px;
                li{
                    display: none;
                }
            }
        }
        .container_header{
            margin: 10px 100px 0px 100px;
            text-align: center;
            h1{
                font-family: Fraunces;
                text-transform: uppercase;
                color: white;
                font-size: 30px;
                padding-bottom: 100px;
                padding-top: 50px;
            }
        }
    }
    main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        letter-spacing: -0.128571px;
        text-align: center;
        .texte_transform{
            grid-column: 1;
            grid-row: 1;
            display: grid;
            grid-template-columns: 1;
            grid-template-rows: 2;
            .oeuf_image{
                grid-column: 1;
                grid-row: 1;
                img{
                max-width: 100%;
                padding-bottom: 40px;
                }
            }
            .oeuf_text{
                grid-column: 1;
                grid-row: 2;
                padding: 0px 24px 64px 24px;
                h2{
                    font-family: Fraunces;
                    font-size: 32px;font-style: normal;
                    padding-bottom: 30px;
                }
                p{
                    font-family: Barlow;
                    font-weight: 600;
                    line-height: 30px;
                    padding-bottom: 30px;
                    color: rgba(128, 131, 151, 1);
                }
                a{
                    font-family: Fraunces;
                    color: #24303E;
                    text-decoration: none;
                    font-style: normal;
                    font-weight: 900;
                    font-size: 15px;
                    line-height: 25px;
                    letter-spacing: 1px;
                }
                .rectangle1{
                    position: relative;
                    right: -104px;
                    top: -10px;
                    background-color: #FE7766;
                    opacity: 0.25;
                    border-radius: 28px;
                    height: 10px;
                    width: 118px;
                    opacity: 25%;
                }
            }
        }
        .stand_out{
            grid-column: 1;
            grid-row: 2;
            display: grid;
            grid-template-columns: 1;
            grid-template-rows: 2;
            .tasse_rouge_image{
                grid-column: 1;
                grid-row: 1;
                img{
                max-width: 100%;
                padding-bottom: 40px;
                }
            }
            .tasse_rouge_text{
                grid-column: 1;
                grid-row: 2;
                padding: 0px 24px 64px 24px;
                h2{
                    font-family: Fraunces;
                    font-size: 32px;
                    padding-bottom: 30px;
                }
                p{
                    font-family: Barlow;
                    font-weight: 600;
                    line-height: 30px;
                    padding-bottom: 30px;
                    color: rgba(128, 131, 151, 1);
                }
                a{
                    font-family: Fraunces;
                    color: #24303E;
                    text-decoration: none;
                    font-style: normal;
                    font-weight: 900;
                    font-size: 15px;
                    line-height: 25px;
                    letter-spacing: 1px;
                }
                .rectangle2{
                    position: relative;
                    right: -104px;
                    top: -10px;
                    background-color: #FE7766;
                    opacity: 0.25;
                    border-radius: 28px;
                    height: 10px;
                    width: 118px;
                    opacity: 25%;
                }
            }
        }
        .cherry{
            grid-template: 1;
            grid-row: 3;
            background-image: url(./asset/mobile/image-graphic-design.jpg);
            background-position: center;
            background-size: cover;
            .cherry_text{
                transform: translateY(450px);
                h2{
                    text-transform: capitalize;
                    font-family: Fraunces;
                    font-size: 28px;
                    color: #24554A;
                }
                p{
                    font-family: Barlow;
                    padding: 30px 24px 59px 24px;
                    color: rgba(36, 85, 74, 1);
                    font-weight: 600;
                    line-height: 27px;
                    font-size: 16px;
                }
            }
        }
        .orange{
            grid-column: 1;
            grid-row: 4;
            background-image: url(./asset/mobile/image-photography.jpg);
            background-position: center;
            background-size: cover;
            }
            .orange_text{
                transform: translateY(450px);
                h2{
                    text-transform: capitalize;
                    font-family: Fraunces;
                    font-size: 28px;
                    color: #052C3B;
                    mix-blend-mode: normal;
                    opacity: 0.75;
                }
                p{
                    font-family: Barlow;
                    padding: 30px 24px 59px 24px;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 27px;
                    color: rgba(25, 83, 108, 1);
                }
            }
        }
    }
        .client{
            letter-spacing: -0.128571px;
            text-align: center;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat 4(1fr);
            grid-row-gap: 24px;
            letter-spacing: -0.12857143580913544px;
            font-family: Barlow;
            img{
                border-radius: 100%;
                width: 72px;
                height: 72px;
            }
            h3{
                grid-row: 1;
                text-transform: uppercase;
                letter-spacing: 5px;
                font-family: Fraunces;
                color: hsl(210, 4%, 67%);
                font-size: 15px;
                padding-bottom: 64px;
                padding-top: 64px;
            }
            .emily{
                grid-column: 1;
                grid-row: 2;
                .dia_emily{
                    font-weight: 600;
                    line-height: 32px;
                    color: #5B636D;
                    padding:32px 24px 32px 24px;
                }
                .nom_e{
                    font-family: Fraunces;
                    font-weight: 900;
                    line-height: 22px;
                }
                .poste_e{
                    font-size: 14px;
                    color: rgba(167, 170, 173, 1);
                    padding-top: 9px;
                    padding-bottom: 64px;
                }
            }
            .thomas{
                grid-column: 1;
                grid-row: 3;
                .dia_thomas{
                    font-weight: 600;
                    line-height: 32px;
                    color: #5B636D;
                    padding:32px 24px 32px 24px;
                }
                .nom_t{
                    font-family: Fraunces;
                    font-weight: 900;
                    line-height: 22px;                }
                .poste_t{
                    font-size: 14px;
                    color: #A7AAAD;
                    padding-top: 9px;
                    padding-bottom: 64px;
                }
            }
            .jennie{
                grid-column: 1;
                grid-row: 4;
                .dia_jennie{
                    font-weight: 600;
                    line-height: 32px;
                    color: #5B636D;
                    padding:32px 24px 32px 24px;
                }
                .nom_j{
                    font-family: Fraunces;
                    font-weight: 900;
                    line-height: 22px;                }
                .poste_j{
                    font-size: 14px;
                    color: #A7AAAD;
                    padding-top: 9px;
                    padding-bottom: 64px;
                }
            }
        }
        .gallery{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            img{
                max-width: 100%;
            }
            .image1{
                grid-column: 1;
                grid-row: 1;
            }
            .image2{
                grid-column: 1;
                grid-row: 2;
            }
            .image3{
                grid-column: 2;
                grid-row: 1;
            }
            .image4{
                grid-column: 2;
                grid-row: 2;
            }
        }
    footer{
        letter-spacing: -0.128571px;
        background: #90D4C6;
        display: flex;
        flex-direction: column;
        align-items: center;
        .titre_bot{
            padding-top: 20px;
            padding-bottom: 40px;
            width: 170px;
            filter: invert(26%) sepia(9%) saturate(2406%) hue-rotate(116deg) brightness(50%) contrast(90%);
        }
        .liens{
            a{
                text-decoration: none;
                color: rgba(69, 141, 126, 1);
                font-family: Barlow;
            }
            word-spacing: 57px;
            padding-bottom: 40px;
        }
        .social{
            word-spacing: 28px;
            padding-bottom: 40px;
        }
    }
@media only screen and (min-width:376px){
    body{
       header{
            height: 80vw;
            width: auto;
            background-image: url(./asset/mobile/image-header.jpg);
            background-position: bottom;
            .le_haut{
                .logo{
                    height: auto;
                    width: 20vw;
                    padding: 50px;
                }
                .menu_titre{
                    display: inline-flex;
                    img{
                        display: none;
                    }
                    li{
                        display: block;
                        padding: 30px 20px 0px 20px;
                    }
                }
            }
        }
        main{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            text-align: start;
            font-size: 18px;
            .texte_transform{
                grid-column: span 2;
                grid-row: 1;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
                .oeuf_image{
                    grid-column: 2;
                    grid-row: 1;
                    min-width: 100%;
                }
                .oeuf_text{
                    grid-column: 1;
                    grid-row: 1;
                    h2{
                        font-size: 40px;
                    }
                }
            }
            .stand_out{
                grid-area: 2 / 1 / 3 / 3; //temporaire
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
                .tasse_rouge_image{
                    grid-column: 1;
                    grid-row: 2;
                }
                .tasse_rouge_text{
                    grid-column: 2;
                    grid-row: 2;
                    h2{
                        font-size: 40px;
                    }
                }
            }
            .cherry{
                grid-column: 1;
                grid-row: 3;
                .cherry_text{
                    transform: translateY(200px);
                }
            }
            .orange{
                grid-column: 2;
                grid-row: 3;
                .orange_text{
                    transform: translateY(200px);
                }
            }
        }
        .client{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 200px 1fr;
            h3{
                font-size: 20px;
                grid-area: 1 / 1 / 2 / 4;
            }
            .emily{
                grid-area: 2 / 1 / 3 / 2;;
            }
            .thomas{
                grid-area: 2 / 2 / 3 / 3;
            }
            .jennie{
                grid-area: 2 / 3 / 3 / 4;
            }
        }
        .gallery{
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: repeat(4, 1fr);
            img{
                min-width:100%;
            }
                .image1{
                    grid-column: 1;
                    grid-row: 1;
                }
                .image2{
                    grid-column: 2;
                    grid-row: 1;
                }
                .image3{
                    grid-column: 3;
                    grid-row: 1;
                }
                .image4{
                    grid-column: 4;
                    grid-row: 1;
                }
        }
    }
}