@font-face {
    font-family: "Barlow";
    src: url(./asset/font/Barlow-Regular.ttf);
}
@font-face {
    font-family: "Fraunces";
    src: url(./asset/font/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

body{
    background-color: rosybrown;
    font-size: 18px;
    margin: auto 0;
    header{
        background-image: url(./asset/mobile/image-header.jpg);
        .le_haut{
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
            .logo{
                width: 140px;
            }
            .texte_header{
            color: white;
            }
            .fleche_header{
                img{
                }
            }   
        }
    }
}